body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url('../img/ForbesESG_EnergiaEolica_PictureAlliance_GettyImages.webp');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    width: 100%;
    height: 100vh; /* Define a altura como 100% da viewport */ 
    scroll-behavior: smooth;
}


/* Header */

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 9%;   
    align-items: center;
    align-content: center;
    color: white;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.7);
}
.header-left{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 60%;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: light;
}
.header-left img{
    margin-right: 15px;
    margin-left: 30px;
    width: 50px;
    margin-top: 5px;
}
.header-right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: light;
}

.header-right a{
    color: white;
    text-decoration: none;
}


/* Corpo do Site */

.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding-bottom: 180px;
}

.homepage .home{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 90%;
    height: 50%;
    color: white;
}

.homepage .home h2{
    font-size: 60px;
    max-width: 570px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.homepage .home h3{
    font-size: 25px;
    max-width: 650px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.sobre{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.sobre .div_sobre{
    display: flex;
    flex-direction: row;
    width: 15%;
    height: 15vh;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.sobre .div_sobre img{
    display: flex;
    align-items: center;
    width: 60px;
}
.sobre .div_sobre h2{
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.sobre_text_img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.text_left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37%;
    height: 75vh;
    border: solid 2px white;
    background-color: #161616;
    border-radius: 5%;
}
.text_left p{
    max-width: 530px;
    font-size: 27px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.imgSobre{
    width: 45%;
}

.imgSobre img{
    width: 800px;
}

.btnServicos{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 200px;
}

.btnServicos button{
    width: 400px;
    height: 55px;
    border-radius: 40px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: bold;
    border: none;
}

.energyWindPart{
    width: 100%;
    height: auto;
    background-image: url(../img/morro-chapeu-hero_2400x1160.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    color: white;
    height: 1160px;
    display: flex;
    flex-direction: column;
}

.energyWindPart .divEW{
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 15vh;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.energyWindPart .divEW img{
    display: flex;
    align-items: center;
    width: 60px;
}
.energyWindPart .divEW h2{
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.EW_text{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 50px;
    width: 80%;
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 50px;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 45%;
    height: 89vh;
    border: solid 2px white;
    background-color: rgba(10, 10, 10, 0.9);
    border-radius: 5%;
}
.text p{
    max-width: 500px;
    font-size: 23px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;

}
.saibaMais{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    padding-bottom: 10px;
}

.integrantes {
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .titulo {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .integrante {
    text-align: center;
    width: 30%;
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .integrante .foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .integrante a {
    color: #1e90ff;
    text-decoration: none;
    
  }
  
  .integrante a:hover {
    text-decoration: underline;
  }
  
  .integrante .nome {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  



